#main-div {
    width: 100vw;
    height: 550vh !important;
    top: 85px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 0px;
    background-color: rgb(200, 180, 148);
}

.page-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 7, 7);
    overflow: hidden;
}

#home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(7, 7, 7);
}

#home-background-img {
    position: absolute;
    height: 100%;
    width: 110%;
    top: 0%;
    left: -5%;
    object-fit: cover;
    filter: blur(3px) brightness(30%);
}

#home-logo {
    width: 86vw;
    left: 7vw;
    object-fit: contain;
    height: 65vh;
    z-index: 3;
    position: absolute;
    top: calc(25vh - 45px);
}

#about-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 28, 52);
    height: 100vh !important;
    padding-bottom: 50px;
}

#about-us-div {
    position: relative;
    margin-left: 20px;
    background-color: rgb(61, 68, 101);
}

.info-panel {
    height: min-content;
    width: min(450px, 40vw);
    
    border-radius: 10px;
    padding: 30px;
    color: rgb(244, 240, 232);
    font-family: PrimaryFont;
    overflow-y: scroll;
    margin: 20px;
    position: relative;
}

.info-panel > h2 {
    position: relative;
    top: -15px;
    font-size: 40px;
    margin-bottom: -10px;
}

.info-panel > p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 10px;
    line-height: 130%;
}

#gallery-section {
    display: flex;
    height: min-content;
    left: 0px;
    top: 0px;
    position: relative;
    justify-content: center;
    align-items: center;
}

#gallery-title {
    top: 40px;
    left: 20px;
    position: absolute;
    z-index: 4;
    color: white;
    font-family: PrimaryFont;
    font-size: 80px;
}

#gallery-grid-div {
    background-color: green;
    height: 94%;
    width: 94%;
    top: calc(220px + 2vh);
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    justify-items: center;
    align-items: center;
    height: min-content;
    padding-bottom: 30vh;
    gap: 3px;
}

#about-us-img {
    height: auto;
    width: min(550px, 50vw);
    position: relative;
    z-index: 5;
    gap: 5px;
}

#gallery-background-img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    object-fit: cover;
    z-index: 2;
    filter: brightness(4%) saturate(120%) sepia(20%) blur(3px);
}

.gallery-image-div {
    z-index: 3;
    height: min(300px, 90vh);
    width: auto;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    border: 0px;
    margin: 5px;
}
.gallery-img {
    z-index: 4;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    object-fit:contain;
    position: relative;
}
.gallery-desc {
    z-index: 4;
    left: 12%;
    top: 12%;
    height: 86%;
    width: 86%;
    position: absolute;
    color: rgb(244, 240, 232);
    visibility: hidden;
    font-family: cursive;
    font-size: 20px;
}
.gallery-image-div:hover .gallery-img {
    filter: brightness(50%) blur(2px);
}
.gallery-image-div:hover .gallery-desc {
    visibility: visible;
}

.gallery-desc:hover {
    cursor: default;
}

@media only screen and (max-width: 1200px) {
    #main-div {
        top: -5px;
        height: 200vh;
    }
    #home-section {
        height: calc(100vh + 5px);
    }
    #home-background-img {
        height: 105vh;
    }
    #home-logo {
        top: 20vh;
    }
    #gallery-title {
        top: 20px;
    }
}

@media only screen and (max-width: 750px) {
    .info-panel > h2 {
        font-size: 20px !important;
    }
    .info-panel > p {
        font-size: 11px !important;
    }
    #about-us-section {
        height: min-content !important;
        display: block;
    }
    .info-panel {
        display: block;
        position: relative;
        width: 86vw !important;
        padding: 10px;
        margin: 0px !important;
        left: calc(7vw - 10px);
        top: 10vh;
    }
    #about-us-img {
        display: block;
        position: relative;
        width: 90vw;

        left: 5vw;
        margin: 0px;
        top: 5vh;
    }
}